# Arquivo de propriedades sensíveis
back-end/src/main/resources/application-secret.properties
Documentação.sty

# Ignorar arquivo .env
.env
.sty
.idea
.vscode


# Ignora todos os .sql na pasta Database
# Database/*.sql